@charset "UTF-8";

/* Configurações responsiva para tablet */
@media screen and (min-width: 769px) and (max-width: 1024px){
    .meio{
        border: none;
    }

    .card-sob{
        box-shadow: -4px 4px 10px var(--cor1);
        border: 2px solid var(--cor5);
        border-radius: 10px;
        width: 300px;
        margin: 10px auto;
    }
}

/* Configurações responsiva para celular */
@media screen and (max-width: 768px){

    /* Inicio da definção da pagina */
    h1{
        padding-top: 10px;
        font-size: 33px;
        font-weight: 600;
    }

    h2{
        font-size: 26px;
        font-weight: 600;
    }

    p{
        font-size: 16px;
    }
    .meio{
        border-right: none;
    }
    /* Fim da definção da pagina */


    /* Inicio do Menu responsivo */
    header{
        padding-bottom: 20px;
        height: auto;
    }

    nav a.ativo{
        background-color: #c9d6df38;
    }

    #menu-btn{
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
        font-size: 30px;
        background: none;
        border: none;
        color: var(--cor0);
    }

    #menu{
        margin-top: 20px;
        border-top: 2px solid var(--cor3);
        display: none;
        flex-direction: column;
        background-color: var(--cor5);
        width: 100%;
    }

    #menu a{
        border-radius: 0;
        display: block;
        text-align: center;
        padding: 15px;
    }

    /* quando o javascript ativar */
    #menu.ativo{
        display: flex;
    }

    .menu span{
        margin-left: 0px;
        font-size: 30px;
    }

    .logo {
        margin-left: 15px;
    }

    #tema {
        display: block;
        width: 30%;
        margin: 10px auto -10px auto;
        text-align: center;
        padding: 12px 0px; 
    }
    /* Fim do Menu responsivo */


    /* Inicio da pagina Home responsivo */
    .perfil{
        flex-direction: column;
        margin-bottom: 30px;
    }

    .ft-perfil > img{
        width: 180px;
        height: 180px;
    }

    .descri{
        margin: 0;
        width: 94%;
    }

    .descri > p{
        margin-top: 5px;
        padding: 5px;
    }

    .cards-des{
        flex-direction: column;
    }

    .des {
        height: 130px;
        margin: 10px auto;
    }
    /* Fim da pagina Home responsivo */


    /* Inicio da pagina Sobre responsivo */
    .sob{
        width: 100%;
    }

    .sob > p{
        padding-bottom: 0px;
    }

    .cards-sobre{
        flex-direction: column;
    }

    .card-sob{
        box-shadow: -4px 4px 10px var(--cor1);
        border: 2px solid var(--cor5);
        border-radius: 10px;
        width: 250px;
        margin: 10px auto;
    }
    /* Fim da pagina Sobre responsivo */


    /* Inicio da pagina Formação responsivo */
    .facul{
        flex-direction: column;
    }

    .facul1{
        width: 100%;
        height: 310px;
        margin: 20px 0px 0px 0px;
        padding: 0px;
    }

    .cards-formacao{
        flex-direction: column;
    }

    .facul1 h3{
        text-align: left;
    }

    .forma{
        background-image: linear-gradient(45deg, var(--cor1), var(--cor5), var(--cor1));
        width: 330px;
        height: 280px;
        padding: 10px;
        margin: 10px auto;
        border-radius: 50px;
    }

    .forma > h3{
        margin: 10px;
        font-size: 20px;
        font-weight: 400;
    }

    .card-for {
        flex-direction: column;
    }

    .card-f{
        width: 330px;
        height: 180px;
        margin: 10px auto;
    }
    /*  Fim da pagina Formação responsivo */


    /* Inicio da pagina Portfolio responsivo */
    .princ{
        padding: 0px;
    }

    .princ p{
        text-align: justify;
        padding: 10px;
    }

    .card-por{
        flex-direction: column;
        margin: 0px;
    }

    .cards{
        width: 340px;
        height: 320px;
        margin: 10px auto;
        padding: 15px;
    }

    .cards h3{
        font-size: 20px;
        font-weight: 400;
    }
    /* Fim da pagina Portfolio responsivo */


    /* Inicio da pagina Contato responsivo */
    #formulario{
        width:100%;
        height: 600px;
        padding-top: 20px;
        box-sizing: border-box;
    }

    #formulario > h2 {
        margin: 0px;
    }

    .campo {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
    }

    .campo > input{
        width: 230px;
        height: 20px;
        padding: 5px 0px 0px 5px;
        font-size: 15px;
    }

    .campo > textarea {
        width: 320px;
        height: 150px;
        font-size: 15px;
    }

    .icon-cont li{
        width: 115px;
    }

    .icon-cont img {
        width: 30px;
    }

    .icon-cont a {
        font-size: 17px;
        font-weight: 700;
    }
    /* Fim da pagina Contato responsivo */


    /* Inicio do Rodapé responsivo */
    footer{
        height: 75px;
        padding: 10px;
    }

    footer a{
        padding: 0px 2px;
    }

    footer p{
        font-size: 15px;
    }

    .icon{
        margin: -5px 2px 0px 0px;
        vertical-align: middle;
        width: 16px;
    }
    /* Fim do Rodapé responsivo */
}